#home-div {
    width: 100%;
    display: flex;
}

.left-sidebar, .right-sidebar {
    flex: 10%;
    position: fixed;
    width: 50px;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    z-index: 90;
}

.right-sidebar {
    right: 0px;
}

.main-content {
    flex: 80%;
}

#bg-pic {
    z-index: 0;
    width: 100%;
    min-width: 960px;
    position: relative;
    top: -40px;
}

#subtitle {
    position: absolute;
    left: 120px;
    top: 90px;
    width: 100px;
    color:rgb(244, 251, 255);
    font-size: 4em;
    font-weight: 200;
    z-index: 1;
    cursor: default;
}

.download-btn {
    display: block;
    position: relative;
    left: 122px;
    top: 505px;
    z-index: 50;
    
    color:rgb(244, 251, 255);
    border: 2px rgb(244, 251, 255) solid;
    border-radius: 5px;
    backdrop-filter: blur(2px);

    text-wrap: nowrap;
    text-decoration: none;
    font-size: 1.2em;

    width: fit-content;
    height: fit-content;
    padding: 14px 20px;
}

#fade {
    height: 100px;
    position: relative;
    top: -146px;
    background: linear-gradient(
     rgba(193, 210, 219, 0) 10%,
     rgba(193, 210, 219, 0.4),
     rgba(193, 210, 219, 1)
    );
}

@media only screen and (max-width: 414px) {
    .left-sidebar, .right-sidebar {
        display: none;
    }
}