#home-div {
    width: 100%;
    display: flex;
}

.left-sidebar, .right-sidebar {
    flex: 10%;
    position: fixed;
    width: 50px;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    z-index: 90;
}

.right-sidebar {
    right: 0px;
}

.main-content {
    flex: 80%;
}

#bg-pic {
    z-index: 0;
    width: 100%;
    min-width: 1100px;
    position: absolute;
    top: 20px;
}

#subtitle {
    position: relative;
    left: 120px;
    top: 90px;
    width: 100px;
    color:rgb(244, 251, 255);
    font-size: 4em;
    font-weight: 200;
    z-index: 1;
    cursor: default;
}