.indicator {
    width: 14px;
    height: 14px;
    border-radius: 20px;
    background-color: rgb(223, 136, 59);
    margin-right: 2px;

}

.skill-li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.skill-text {
    margin-left: 40px;
    flex: 70%;
    text-align: start;
}

.lvl-div {
    flex: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}